
@import url("normalize.css");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #FFF;
  color: #222;
  font: 100% sans-serif;
}

.keyboard {
  width: 1300px;
  margin: 100px auto;
  position: relative;
  background: #FAFAFA;
  border-radius: 10px;
}

.keyboard h1 {
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  font: bold 1em/1 monospace;
  color: #999;
}


.row {
  margin-bottom: 10px;
  overflow: hidden;
}


.key {
  width: 87px;
  height: 87px;
  float: left;
  border: 2px #999 solid;
  border-radius: 10px;
  margin: 4px;
  overflow: hidden;
}

.key.disabled {
  opacity: .3;
  color: #999;
}

.key-esc {
}

.key-tab {
  width: 126px;
}

.key-caps {
  width: 150px;
}

.key-shift {
  width : 184px;
}

.key > div {
  height: 100%;
}

.key .shift {
  display: none;
}

.key label {
  display: inline-block;
  font-size: 1.5em;
  float: left;
  margin: 5px;
}

.key label.insert {
  color: red;
}

.key span {
  font-size: .7em;
  display: block;
  text-align: right;
  padding: 5px;
}

.motion {
  background-color: #6BFE6A;
}

.command {
  background-color: #FEFE6A;
}

.operator {
  background-color: #FEAD1F;
}

.extra {
  background-color: #EDEDED;
}

.shift-pressed .normal {
  display: none;
}

.shift-pressed .shift {
  display: block;
}

.shift-pressed .key-shift {
  background-color: #AAA;
  color: #FFF;
}

.key-pressed .key {
  opacity: .3;
}

.key.pressed {
  opacity: 1;
}
